.posts {
  margin-top: var(--spacer-2);
}
.post-card {
  margin-bottom: var(--spacer);
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  a {
    @include alternative-link-style();
  }

  .post-title {
    font-family: var(--body-font);
    margin: 0;
  }
  .post-meta {
    margin-bottom: 0;
  }
}
