---
layout: page
---

<table>  
  <tr>
    <th>variable</th>
    <th>value</th>
  </tr>
  <tr>
    <td>title</td>
    <td>{{ site.title }}</td>
  </tr>
  <tr>
    <td>lang</td>
    <td>{{ site.lang }}</td>
  </tr>
  <tr>
    <td>tagline</td>
    <td>{{ site.tagline }}</td>
  </tr>
  <tr>
    <td>author.name</td>
    <td>{{ site.author.name }}</td>
  </tr>
  <tr>
    <td>author.url</td>
    <td>{{ site.author.url }}</td>
  </tr>
  <tr>
    <td>date_format</td>
    <td>{{ site.date_format }}</td>
  </tr>
  <tr>
    <td>tags_path</td>
    <td>{{ site.tags_path }}</td>
  </tr>
  <tr>
    <td>google_analytics</td>
    <td>{{ site.google_analytics }}</td>
  </tr>
  <tr>
    <td>remote_theme</td>
    <td>{{ site.remote_theme }}</td>
  </tr>
  <tr>
    <td>disqus</td>
    <td>{{ site.disqus }}</td>
  </tr>  
  <tr>
    <td>Updated</td>
    <td>{{ site.time }}</td>
  </tr>
</table>

